/* Catppuccin Mocha Theme for wlogout */
@import "../color/color.css";

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: alpha(@base, 0.9);
}

button {
    border-radius: 10px;
    border: 2px solid @surface1;
    background-color: @base;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 20px;
    transition: all 0.3s ease;
    color: @text;
    font-family: "Noto Sans CJK SC", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color: @surface0;
		background-size: 50%;
    border: 2px solid @blue;
    outline-style: none;
		color: transparent;
		text-shadow: none;
}

button:focus {
    background-color: @surface1;
    outline-style: none;
}

#lock {
    background-image: url("icons/lock.png");
}

#lock:hover {
    border: 2px solid @yellow;
}

#logout {
    background-image: url("icons/logout.png");
}

#logout:hover {
    border: 2px solid @blue;
}

#shutdown {
    background-image: url("icons/shutdown.png");
}

#shutdown:hover {
    border: 2px solid @red;
}

#reboot {
    background-image: url("icons/reboot.png");
}

#reboot:hover {
    border: 2px solid @green;
}

#suspend {
    background-image: url("icons/suspend.png");
}

#suspend:hover {
    border: 2px solid @teal;
}

#hibernate {
    background-image: url("icons/hibernate.png");
}

#hibernate:hover {
    border: 2px solid @mauve;
}
