configuration {
    modi: "drun,run,window";
    display-drun: "Applications";
    display-run: "Run";
    display-window: "Windows";
    drun-display-format: "{name}";
    font: "Inter 12, Symbols Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-Dark";
}

@theme "theme"
