@import "../color/color.css";

* {
    border: none;
    border-radius: 20px;
    font-family: "Inter", "Symbols Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#custom-gpu:hover {
    background-color: alpha(@peach, 0.3);
}

#custom-nixos:hover {
    background-color: alpha(@blue, 0.3);
}

#pulseaudio:hover {
    background-color: alpha(@green, 0.3);
}

#network:hover {
    background-color: alpha(@blue, 0.3);
}

#workspaces {
    margin: 0;
    padding: 0;
}

#workspaces button {
    color: @subtext0;
    background: alpha(@surface0, 0.6);
    border: none;
    padding: 8px;
    margin: 0 3px;
    border-radius: 50%;
    min-width: 18px;
    opacity: 0.6;
    /* transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1); */
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button.active {
    color: @base;
    background: @blue;
    font-weight: bold;
    padding: 8px 14px;
    margin: 0 3px;
    border-radius: 20px;
    min-width: 30px;
    opacity: 1;
    box-shadow: 0 2px 8px alpha(@blue, 0.5);
    animation: gradient_f 20s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    opacity: 0.9;
    background: alpha(@blue, 0.5);
}

#clock {
    background: alpha(@surface0, 0.95);
    color: @text;
    padding: 5px 10px;
    border-radius: 20px;
}

#cpu {
    background: alpha(@surface0, 0.95);
    color: @red;
    padding: 5px 10px;
    border-radius: 20px;
}

#custom-gpu {
    background: alpha(@surface0, 0.95);
    color: @subtext0;
    padding: 5px 10px;
    border-radius: 20px;
}

#memory {
    background: alpha(@surface0, 0.95);
    color: @peach;
    padding: 5px 10px;
    border-radius: 20px;
}

#battery {
    background: alpha(@surface0, 0.95);
    color: @yellow;
    padding: 5px 10px;
    border-radius: 20px;
}

#pulseaudio {
    background: alpha(@surface0, 0.95);
    color: @green;
    padding: 5px 10px;
    border-radius: 20px;
}

#network {
    background: alpha(@surface0, 0.95);
    color: @blue;
    padding: 5px 10px;
    border-radius: 20px;
}

#tray {
    background: alpha(@surface0, 0.95);
    padding: 5px 10px;
    border-radius: 20px;
}

#custom-nixos {
    background: alpha(@surface0, 0.95);
    color: @blue;
    padding: 5px 10px;
    border-radius: 25px;
}
